#buttons {
  float: right;
  position: relative;
  right: 8%;
  text-align: left;
}
#buttons ul {
  list-style: none;
  position: relative;
  left: 50%;
}

#buttons li {
  float: left;
  position: relative;
  font-size: 20px;
} /* ie needs position:relative here*/

#buttons a {
  text-decoration: none;
  margin: 10px;
  background: rgb(255, 255, 255);
  float: left;
  color: rgb(0, 0, 0);
  padding: 2px 5px;
  text-align: center;
  white-space: nowrap;
}
#buttons a:hover {
  color: rgb(0, 0, 0);
  background: #e9e9e9;
}
#content {
  overflow: hidden;
} /* hide horizontal scrollbar*/
