@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
.content {
  top: 50%;
  left: 50%;
  width: 400px;
  background: white;
  border-radius: 10px;
}

.module-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

::placeholder {
  text-align: center;
  width: 100%;
  height: 50px;

  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.h3 {
  text-align: center;
}
